# Ігнорувати всі файли з розширенням .log
*.log

# Ігнорувати папку "temp" та всі файли та папки в ній
/temp/

# Ігнорувати конкретний файл "config.ini"
config.ini

# Ігнорувати всі файли в папці "backup", але не папку саму по собі
/backup/*

# Ігнорувати всі файли та папки, які починаються з "cache_"
cache_*

# Ігнорувати всі файли з певного підкаталогу "build" у кореневій директорії
/build/

# Ігнорувати всі файли з розширенням .tmp
*.tmp

# Ігнорувати папку "logs" та всі файли та папки в ній
/logs/

# Ігнорувати всі файли з розширенням .bak
*.bak

# Ігнорувати всі файли та папки, які починаються з "old_"
old_*
